div.祖父 {
    /* 最上位の親は全て効くはず */
    background-color: rgba(50, 250, 0, 0.4); 
    border: 2px solid navy;
    width: 65%;
    
    display: inline-block;
    margin: 300px;
    position: relative;
}

div.親 {
    background-color: rgba(250, 0, 50, 0.2); 
    border: 2px solid red;
    width: 45%;　/* 直親が基準 */
    
    display: inline-block;
    position: absolute;
    left: 50%;　/* このままでは効かない？ */
    top: 200px;　/* このままでは効かない？ */
}

div.子 {
    background-color: rgba(50, 0, 150, 0.2); 
    border: 1px solid aqua;
    width: 65%;　/* 直親が基準 */
    
    display: inline-block;
    
    left: 50%;　/* どこの50％基準？ */
    top: 175px;　/* どこが基準？ */
}
