div.祖父 {
    background-color: rgba(50, 250, 0, 0.4); 
    border: 2px solid navy;
    width: 65%;
    position: relative;
}
div.親 {
    background-color: rgba(250, 0, 50, 0.2); 
    border: 2px solid red;
    width: 45%;
    
    left: 30%;
    top: 50px;
  
    display: block;
}
div.子 {
    background-color: rgba(50, 0, 150, 0.2); 
    border: 1px solid aqua;
    width: 65%;
    position: absolute;
    
    left: 30%;
    top: 15px;
}
